/*******************************
= 1. Global CSS / Normalization
= 2. Top-Banner Section
= 3. Dream Section
= 4. Experiance Section
= 5. Footer Section
********************************/


/* Global CSS/Normalization */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 46px;
    color: dimgray;
}
h2{
    font-size: 30px;
    color: dimgray;
}
h3{
    font-size: 24px;
    color: dimgray;
}
p{
    color: dimgray;
    font-weight: 500;
    line-height: 24px;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
/* top-banner css start*/
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.ani{
    animation: top 3s forwards 0s ease;
}
@keyframes top{
    0%{
        transform: translateY(-25%);
        opacity: 0;
    }
    20%{
        transform: rotate(xx) translateY(0);
        opacity: 1;
    }
}
.half-width img{
    width: 100%;
    transition: ease 0.4s all;
}
.half-width img:hover{
    transform: scale(1.1,1.1);
}
.orange{
    color: orange;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(45deg,#f5af19,#ff4e3a);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
}
/* top-banner css end*/

/* dream css start */
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.round-area{
    box-shadow: 10px 10px 40px grey;
    height: 75%;
    border-radius: 10px;
    background-color: #fff;
    transition: ease 0.4s all;
}
.round-area:hover{
    transform: scale(1.1,1.1);
}
/* dream css end */

/* experiance css start */
.experiance{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 20px;
}
.experiance h1{
    padding-left: 67px;
}
#senior{
    border-left: 7px solid;
    border-image: linear-gradient(45deg,#f5af19,#FF468F);
    border-image-slice: 1;
}
#junior{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
/* experiance css end */

/* footer css start */
footer{
    text-align: center;
    font-size: 14px;
}
/* footer css end */

/* Media Query Start */
/* Notebook Device Meida Query */
@media (min-width: 768px) and (max-width: 992px){
    .dream{
        padding-bottom: 0px;
    }
    #senior,#junior{
        width: 80%;
        margin-bottom: 20px;
    }
    #senior h1{
        padding-left: 0px;
    }
    #junior h1{
        padding-left: 0px;
    }
    footer {
        width: 100%;
        font-size: 21px;
        padding: 20px 0px;
        float: left;
    }
}
/* Tablet Device Media Query */
@media(min-width: 500px) and (max-width: 768px){
    section{
        padding-bottom: 72px;
    }
    h2,h3{
        font-size: 25px;
    }
    /* Top banner section  */
    .dream{
        padding-bottom: 0px;
    }
    .top-banner img{
        width: 100%;
        margin-top: 42%;
        margin-left: -8%;
    }
    .top-banner h1{
        font-size: 32px;
    }
    /* Dream Section */
    .dream h1{
        font-size: 32px;
    }
    .dream p {
        width: 96%;
        padding-bottom: 5%;
    }
    /* experiance section */
    .experiance h1{
        font-size: 32px;
    }
    #senior,#junior{
        width: 80%;
        margin-bottom: 20px;
    }
    #senior p{
        width: 98%;
    }
    #junior p{
        width: 98%;
    }
    footer {
        width: 100%;
        font-size: 21px;
        padding: 20px 0px;
        float: left;
    }
}
/* Mobile Device Media Query */
@media screen and (max-width: 500px){
    .half-width {
        width: 92%;
    }
    section {
        padding-bottom: 10px;
    }
    .top-banner h1 {
        font-size: 22px;
        text-align: center;
        margin: 13px auto;
    }
    h2,h3{
        font-size: 16px;
    }
    p {
        font-size: 12px;
        width: 88%;
    }
    .btn{
        font-size: 12px;
    }
    .top-banner img{
        width: 50%;
        margin-left: 40%;
        margin-top: -8%;
    }
     .top-banner p{
         margin-bottom: 30px;
     }

     /* Dream Section */
    .dream {
        background-size: 15%;
    }
    .dream h1 {
        font-size: 22px;
        margin: 13px auto;
    }
    .dream img{
        width: 50%;
        position: absolute;
        left: 5%;
        top: 140%;
    }
    /* Experiance Section */
    .experiance{
        padding-top: 150px;
    }
    .experiance h1 {
        font-size: 22px;
        margin: 13px auto;
    }
    #senior {
        width: 85%;
        height: 40%;
        margin-bottom: 15px;
    }
    #junior {
        width: 85%;
        height: 40%;
        margin-bottom: 15px;
    }
    .round-area h1{
        margin-left: -16%;
    }
    .round-area p{
        width: 100%;
    }

}